body {
    margin: 0px auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gamer-icon {
    display: flex;
    /* border: 2px solid red; */
    padding: auto 0px;
    align-items: center;
}

.nav-icon {
    /* padding: 0px auto; */
    height: 40px;
    width: 86px;
    margin-right: 20px;
    /* margin-top: 40px; */
}

.nav-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.9rem;
    font-weight: 700;
    color: #0B0223;
}

.g-in-gamer {
    color: #FF42A5;
}

.gamer-manus li {
    list-style: none;
}

.gamer-manus li a {
    text-decoration: none;
    color: #3c354f;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

/* .gamer-manus li svg:hover{
    cursor: pointer;
} */
.nav-manus {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.follow-us-manu {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* BANNER SECTION STARTS FROM HERE */
.banner-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    align-items: center;
    background-image: url(../images/Group\ 14.png);
}

.banner-play-heading {
    color: #0b0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-goat {
    font-family: 'Work Sans', sans-serif;
    font-size: 6rem;
    font-weight: 800;
    color: #C450D0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner-list li {
    list-style: none;
}

.banner-list {
    margin-top: 24px;
    color: #534C64;
    font-size: 1.25;
    font-weight: 500;
    /* margin-left: 0px; */
    padding-left: 10px;
}

.button-sign-in {
    background-color: #FF42A5;
    color: #ffffff;
    margin-left: 0px;
    font-family: 'Work Sans', sans-serif;
    ;
    padding: 21px 40px;
    border-radius: 48px;
    border: 0;
    /* width: auto 156px;
    height: auto 65px; */
}

.button-go {
    margin-left: 24px;
    background-color: #4EC5F7;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 40px;
    /* padding-left: 0px; */
    color: #ffffff;
    border-radius: 48px;
    border: 0;
    /* width: auto 185px;
    height: auto 65px; */
}

.hide {
    display: none;
}

.online-game-section-description {
    text-align: center;
    margin-top: 120px;
}

.online-game-heading {
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.funny-text {
   
      color: 
      #CE4ECA
      ; 
}
.online-game-text{
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}
.online-game-img{
    display: flex;
    justify-content: center;
    gap: 2.4%;
    margin-bottom: 12%;
    /* position: relative;
    display: inline-block; */
}
.online-game-img p{
    color: #534c64;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}
.online-game-img img:hover{
    filter: blur(3px);
    border: 2px solid #FF42A5;
    border-radius: 4px;
}
.play-instant-heading{
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: right;
}
.play-instantly{
    color: #E34BBE;
}
.play-instant-text{
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: right;
}
.play-instant{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.play-instant-img{
    /* border: 2px solid black; */
    /* display: flex; */
    position: relative;

}
.instant-secondery-img{
    /* position: relative; */
    position: absolute;
    bottom: 0;
    left: 0;

}
.instant-primary-img{
    margin-left: 100px;
    margin-bottom: 60px;
}
.catagory-one{
    display: flex;
    margin-top: 12%;
    justify-content: space-evenly;
}
.single-catagory{
    display: flex;
    align-items: center;
    
}
.single-catagory p{
    margin-left: 16px;
    color: #0B0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
.catagory-two{
    display: flex;
    margin-top: 27px;
    justify-content: space-evenly;
}
.single-catagory:hover{
    border: 3px solid #FF42A5;
    border-radius: 50px;
    padding: 3px;
    /* color: red; */
    /* background-color: #160909;  */
    /* color: #FF42A5; */
}
/* .single-catagory :hover{
    color: #FF42A5;
} */
footer{
    background-color: #0B0223;
}
.footer-amer{
    color: #ffffff;
}
.footer-heading{
    /* margin: 0px auto; */
    display: flex;
    justify-content: center;
    margin-top: 129px;
    padding-top: 120px;

}
.footer-option-section ul li{
    color: #ffffff;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    /* display: flex; */
}

.footer-option-section ul{
    display: flex;
    justify-content: center;
    gap: 60px;
    /* margin-bottom: 56px; */
    padding-bottom: 56px;
}
.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    cursor: pointer;
}
.footer-manus-section ul{
    
    display: flex;
    justify-content: center;
    gap: 60px;
    /* margin-bottom: 56px; */
    padding-bottom: 56px;
}
.footer-manus-section ul li{
    
    color: rgba(255, 255, 255, 0.60);
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.footer-manus-section{
    padding-top: 64px;
}
.copyright-text{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    padding-bottom: 130px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}


/* responsive code starts from here */
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

    /* .nav{
        /* word-wrap: break-word; */
    /* flex-wrap: wrap; */
    /* } */
    .nav-manus {
        flex-direction: column;
    }

    .banner-section {
        flex-direction: column-reverse;
    }

    .banner-img {
        width: 300px;
    }
    .online-game-img{
        flex-direction: column;
        justify-content: center;
        padding: 10px auto;
        margin: 10px auto;
    }
    .online-game-img p{
        /* width: 50%; */
        text-align: center;
    }
    .online-game-img img{
        margin: 5px auto;
    }
    .play-instant{
        flex-direction: column;
        /* width: 100%; */
    }
    .play-instant-img > img{
        width: 90vw;
    }
    .play-instant-description{
        align-items: center;
    }
    .play-instant-text{
        text-align: center;
    }
    .play-instant-heading{
        text-align: center;
    }
    .instant-secondery-img{
        /* width: 10px; */
        position: relative;
        top: -140px;
        width: 50px;
        /* border: 2px solid rebeccapurple; */

    }
    .single-catagory{
        justify-content: center;
        margin-bottom: 20px;
    }
    .instant-primary-img{
        margin-left: 40px;
        margin-bottom: 30px;
    }
    .catagory-one, .catagory-two{
        flex-direction: column;
    }
    .footer-option-section ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* justify-content: center; */
    }
    .footer-icons{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-manu{
        flex-direction: column;
    }
    

}
@media screen and (min-width: 576px) and (max-width: 980px) {
    .banner-section{
        flex-direction: column;
    }
    .online-game-img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .play-instant{
        flex-direction: column;
    }
    .catagory-one, .catagory-two{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-option-section ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .footer-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
}