body {
    margin: 0px auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gamer-icon {
    display: flex;
    /* border: 2px solid red; */
    padding: auto 0px;
    align-items: center;
}

.nav-icon {
    /* padding: 0px auto; */
    height: 40px;
    width: 86px;
    margin-right: 20px;
    /* margin-top: 40px; */
}

.nav-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.9rem;
    font-weight: 700;
    color: #0B0223;
}

.g-in-gamer {
    color: #FF42A5;
}

.gamer-manus li {
    list-style: none;
}

.gamer-manus li a {
    text-decoration: none;
    color: #3c354f;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

/* .gamer-manus li svg:hover{
    cursor: pointer;
} */
.nav-manus {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.follow-us-manu {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* BANNER SECTION STARTS FROM HERE */
.banner-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    align-items: center;
    background-image: url(../images/Group\ 14.png);
}

.banner-play-heading {
    color: #0b0223;
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-goat {
    font-family: 'Work Sans', sans-serif;
    font-size: 6rem;
    font-weight: 800;
    color: #C450D0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner-list li {
    list-style: none;
}

.banner-list {
    margin-top: 24px;
    color: #534C64;
    font-size: 1.25;
    font-weight: 500;
    /* margin-left: 0px; */
    padding-left: 10px;
}

.button-sign-in {
    background-color: #FF42A5;
    color: #ffffff;
    margin-left: 0px;
    font-family: 'Work Sans', sans-serif;
    ;
    padding: 21px 40px;
    border-radius: 48px;
    border: 0;
    /* width: auto 156px;
    height: auto 65px; */
}

.button-go {
    margin-left: 24px;
    background-color: #4EC5F7;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 40px;
    /* padding-left: 0px; */
    color: #ffffff;
    border-radius: 48px;
    border: 0;
    /* width: auto 185px;
    height: auto 65px; */
}

.hide {
    display: none;
}

.online-game-section-description {
    text-align: center;
    margin-top: 120px;
}

.online-game-heading {
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.funny-text {
   
      color: 
      #CE4ECA
      ; 
}
.online-game-text{
    color: #534C64;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}




































/* responsive code starts from here */
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

    /* .nav{
        /* word-wrap: break-word; */
    /* flex-wrap: wrap; */
    /* } */
    .nav-manus {
        flex-direction: column;
    }

    .banner-section {
        flex-direction: column;
    }

    .banner-img {
        width: 300px;
    }

}